html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    font-size: 20px;
}

.container {
    width: 70%;
    margin: 0 auto;
    background-color: #E7D4CD;
}

.header {
    padding-top: 20px;
}

.logo {
    width: 40%;
}

.request_heading {
    text-align: center;
}

.form {
    display: block;
    margin-top: 5%;
    padding-bottom: 3%;
}

.form__field {
    border: 1px solid #000000;
    border-radius: 10px;
    color: #AF4A38;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 2%;
    padding-bottom: 25px;
    padding-left: 3%;
}

.form__text {
    margin-top: 6%;
}

.checkbox_par {
    font-size: 16px;
    color: #000000;
    margin-bottom: 5px;
    word-spacing: 2px;
}

.form__submit {
    background-color: #E7D4CD;
    border-radius: 10px;
    cursor: pointer;

    margin-top: 1%;
    margin-left: 40%;

    width: 19%;
    height: 30px;
    border: 1px solid #000000;
    font-size: 1rem;
    -webkit-transition: all .5s ease-out;
}

.form__submit:hover {
    background-color: #AF4A38;
    color: #ffffff
}

#form__birth {
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.8s cubic-bezier(0.75, 0, 0.5, 1);
}

.form__thankful__heading {
   text-align: center;
   font-size: 34px;
   margin-bottom: 10px;
}

.form__thankful__text {
    text-align: center;
    font-size: 26px;
}

@media screen and (min-width: 300px) and (max-width:960px) {
    body {
        background-size: cover;
        font-size: 1rem;
    }

    .container {
        width: 75%;
    }

    .header {
        padding-top: 3%;
    }

    .logo {
        width: 100%;
    }

    .request_heading {
        margin-top: 8%;
        font-size: 1.6rem;
    }

    .form__field {
        width: 80%;
        padding-left: 10%;
        margin-bottom: 4%;
    }

    .form__text {
        margin-top: 30px;
    }

    .first-time {
        margin-top: 20px;
    }

    .form__text:last-child {
        font-size: 0.9rem;
    }

    .form__submit {
        margin-left: 20%;
        font-size: 0.9rem;

        width: 60%;
        height: 27px;
    }
}
