body {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    font-size: 20px;
}

.container {
    width: 70%;
    margin: 0 auto;
    background-color: #E7D4CD;
}

.header {

}

.form {
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
}

.form__field {
    border: 1px solid #000000;
    border-radius: 10px;
    color: #AF4A38;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 2%;
    height: 100px;
    padding-left: 3%;
}

.form__text {
    margin-top: 25px;
}

.form__text:last-child{
    color: #000000;
    font-size: 16px;
}

.form__submit {
    background-color: #E7D4CD;
    border-radius: 10px;
    margin-top: 3%;
    margin-left: 45%;
}

#form__birth {
    display: none;
    opacity: 0;
    transition: opacity 0.8s cubic-bezier(0.75, 0, 0.5, 1);
}